body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
  background-color: #1b1b1b;
  color: #ffffff;
  color-scheme: dark;
  box-sizing: border-box;
}

.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
}

.bold {
  font-weight: 700;
}

.bg-dark {
  background-color: #100f10 !important;
}

.btn-outline-success,
.btn-outline-success.dropdown-toggle.show,
.btn-outline-success:active {
  color: #ffffffa0;
  background-color: #00000000;
  border-color: #00916e;
}

.btn-outline-success:hover {
  background-color: #00916e;
}

/* side image */
.image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://source.unsplash.com/collection/72317787/1600x900");
  height: 100vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* typewriter text */
.top_text {
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  letter-spacing: 0.1em;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.typewrite {
  text-align: center;
  color: #ffffff;
}

.abs-center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* side image button */
.sideimgbtn {
  background-color: #00000000;
  border: none;
  text-align: center;
  margin-top: 120px;
  height: 65px;
  width: 25px;
}

.sideimgbtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

p {
  color: #ffffffa0;
}

.card-body {
  background: #242424;
}

.modal-header {
  border-color: #242424;
}

.modal-content {
  background: #1b1b1b;
}

.form-control {
  color: #ffffff;
  background-color: #242424;
  border: none;
}

.card {
  background: #242424;
}

.alert-dark {
  background: #242424;
  border: none;
}

.alert-warning {
  background: #f9ae3f;
  color: #1b1b1b;
  border: none;
}

.alert-success {
  background: #37bc64;
  color: #1b1b1b;
  border: none;
}

.alert-danger {
  background: #de5050;
  color: #1b1b1b;
  border: none;
}

.bg-secondary {
  background: #ffffff00 !important;
  border: 1px solid #c651cd;
}

div a {
  text-decoration: none;
}
